<a href="https://colab.research.google.com/github/raghuls72001/Machine-Learning/blob/main/ml_case_study_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [131]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [4]:
df=pd.read_csv('/content/drive/MyDrive/Machine Learning/Movies1.csv')
df

       Unnamed: 0  ...  rating
0               0  ...     9.2
1               1  ...     8.9
2               2  ...     8.4
3               3  ...     5.4
4               4  ...     8.2
...           ...  ...     ...
50008       50008  ...    10.0
50009       50009  ...     9.0
50010       50010  ...     9.2
50011       50011  ...     9.5
50012       50012  ...     8.9

[50013 rows x 7 columns]

# ***Imputation***

In [15]:
df.dtypes                  # data type of each column

userId     float64
movieId    float64
title       object
genres      object
review      object
rating     float64
dtype: object

In [14]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)  # dropped column named unknown

In [6]:
df.isnull().sum()

Unnamed: 0       0
userId           1
movieId          1
title            1
genres        3759
review         103
rating           0
dtype: int64

In [38]:
df.drop(50012,axis=0,inplace=True)  # dropped last row

In [39]:
df

       userId  ...  rating
0         1.0  ...     9.2
1         1.0  ...     8.9
2         1.0  ...     8.4
3         1.0  ...     5.4
4         1.0  ...     8.2
...       ...  ...     ...
50007   397.0  ...     6.1
50008   302.0  ...    10.0
50009   186.0  ...     9.0
50010    18.0  ...     9.2
50011    24.0  ...     9.5

[50012 rows x 6 columns]

In [42]:
df.isnull().sum() # count of null value in each column

userId        0
movieId       0
title         0
genres     3758
review      103
rating        0
dtype: int64

In [43]:
df.dtypes

userId     float64
movieId    float64
title       object
genres      object
review      object
rating     float64
dtype: object

In [47]:
df['userId']=df['userId'].astype(int)     # changing datatype to int from float

In [49]:
df['movieId']=df['movieId'].astype(int)   # changing datatype to int from float

In [50]:
df

       userId  ...  rating
0           1  ...     9.2
1           1  ...     8.9
2           1  ...     8.4
3           1  ...     5.4
4           1  ...     8.2
...       ...  ...     ...
50007     397  ...     6.1
50008     302  ...    10.0
50009     186  ...     9.0
50010      18  ...     9.2
50011      24  ...     9.5

[50012 rows x 6 columns]

In [ ]:
df.loc[df['genres'].isnull()==True,'movieId'] # checking null values in column genres

In [60]:
df['genres'].fillna('All',inplace=True)     # filling nan values

In [86]:
df['review'].fillna('Good',inplace=True)    # filling nan values

In [87]:
df.isnull().sum()       # final count of null values

userId     0
movieId    0
title      0
genres     0
review     0
rating     0
dtype: int64

## ***Preprocessing***

In [70]:
df.describe()         # dataframe description excluding categorical data

             userId        movieId        rating
count  50012.000000   50012.000000  50012.000000
mean     195.318943  104437.677777      6.627409
std      116.375446   58237.662083      2.794826
min        1.000000       1.000000      1.000000
25%       92.000000   60467.500000      4.300000
50%      187.000000  122759.000000      7.500000
75%      294.000000  152784.000000      9.000000
max      406.000000  180061.000000     10.000000

In [80]:
df2=df[['movieId','title','rating']]      # creating new dataframe by copying column values

In [98]:
df2

       movieId                                 title  rating
0            1                      Toy Story (1995)     9.2
1            2                        Jumanji (1995)     8.9
2            3               Grumpier Old Men (1995)     8.4
3            4              Waiting to Exhale (1995)     5.4
4            5    Father of the Bride Part II (1995)     8.2
...        ...                                   ...     ...
50007   120641                       Santa Fe (1951)     6.1
50008   120729    Mexican Spitfire's Elephant (1942)    10.0
50009   120731           Revolt of the Slaves (1960)     9.0
50010   120733  Mexican Spitfire Sees a Ghost (1942)     9.2
50011   120735                Love Chronicles (2003)     9.5

[50012 rows x 3 columns]

**Creating** a new column called sentiment based on ratings

In [122]:
for i in range(len(df2)):
  if df2.iloc[i]['rating']>=8.0:
    df2.at[i,'sentiment']="POSITIVE"
  else:
    df2.at[i,'sentiment']="NEGATIVE"

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [123]:
df2 # after creating new column

       movieId                                 title  rating sentiment
0            1                      Toy Story (1995)     9.2  POSITIVE
1            2                        Jumanji (1995)     8.9  POSITIVE
2            3               Grumpier Old Men (1995)     8.4  POSITIVE
3            4              Waiting to Exhale (1995)     5.4  NEGATIVE
4            5    Father of the Bride Part II (1995)     8.2  POSITIVE
...        ...                                   ...     ...       ...
50007   120641                       Santa Fe (1951)     6.1  NEGATIVE
50008   120729    Mexican Spitfire's Elephant (1942)    10.0  POSITIVE
50009   120731           Revolt of the Slaves (1960)     9.0  POSITIVE
50010   120733  Mexican Spitfire Sees a Ghost (1942)     9.2  POSITIVE
50011   120735                Love Chronicles (2003)     9.5  POSITIVE

[50012 rows x 4 columns]

In [125]:
lb_make = LabelEncoder()              # label encoding the categorical data sentiment
df2['sent_code'] = lb_make.fit_transform(df2['sentiment'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [127]:
df2.head(10)            #final dataframe after preprocessing

   movieId                               title  rating sentiment  sent_code
0        1                    Toy Story (1995)     9.2  POSITIVE          1
1        2                      Jumanji (1995)     8.9  POSITIVE          1
2        3             Grumpier Old Men (1995)     8.4  POSITIVE          1
3        4            Waiting to Exhale (1995)     5.4  NEGATIVE          0
4        5  Father of the Bride Part II (1995)     8.2  POSITIVE          1
5        6                         Heat (1995)     8.0  POSITIVE          1
6        7                      Sabrina (1995)     9.2  POSITIVE          1
7        8                 Tom and Huck (1995)     6.4  NEGATIVE          0
8        9                 Sudden Death (1995)     1.5  NEGATIVE          0
9       10                    GoldenEye (1995)     8.1  POSITIVE          1

In [128]:
df2.dtypes

movieId        int64
title         object
rating       float64
sentiment     object
sent_code      int64
dtype: object

In [129]:
df2['title']=df2['title'].astype(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [130]:
df2.dtypes

movieId        int64
title         object
rating       float64
sentiment     object
sent_code      int64
dtype: object